*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    width: 200px;
    height: 100%;
    background: #fff;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button{
    margin-top: 5px;
    cursor: pointer;
    background: #714B67;
    color: #fff;
    padding: 4px 0px;
    border: 2px solid #714B67;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background: #fff;
    border: 2px solid #714B67;
    color: #714B67;
}

button:nth-child(4){
    margin-bottom: 5px;
}

